:root{
    --card-color: rgb(50, 61, 79);
    --header-color: rgb(56, 59, 146);
}


.navbar{
    background-color: var(--header-color);
    color: white;
}
.card{
    background-color: var(--card-color);
    color: white
}
.currentWeather{
    color: white;
}
body{
    /* img */
    background-image: url(../assets/images/5-day-background1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}

.currentWeather{
    padding-top:100px;
    padding-bottom: 100px;
}